*
{
  padding: 0;
  margin: 0;
}

html,body
{
    height: 300%;
    width: 100%;
    font-size: 0px;
}

.nav
{
  background-color: #800000;
  height: 100%;
  width: 10%;
  display: inline-block;
}

.nav ul
{
  position: fixed;
  padding-top: 200px;
  margin-left: 50px;
  list-style: none;
}

.nav ul li
{
  line-height: 50px;
}

.content
{
  height: 100%;
  width: 90%;
  display: inline-block;
  vertical-align: top;
}

.home
{
  background-color: grey;
  height: 12%;
}

.home h1
{
  color:black;
  font-size: 20px;
}

.about
{
  background-color: blue;
  height: 15%;
}

.about h1
{
  color:black;
  font-size: 20px;
}

.skills
{
  background-color: orange;
  height: 10%;
}

.skills h1
{
  color:black;
  font-size: 20px;
}

.projects
{
  background-color: green;
  height: 20%;
}

.projects h1
{
  color:black;
  font-size: 20px;
}

.contact
{
  background-color: yellow;
  height: 8%;
}

.contact h1
{
  color:black;
  font-size: 20px;
}
