@font-face
{
  font-family: hvd_edding;
  src: url(assets/hvd_edding.otf);
}

*
{
  margin: 0;
  padding: 0;
}

header
{
  border-bottom: 3px solid #800000;
}
h1
{
  color: black;
  font-family: hvd_edding;
  font-size: 60px;
  margin: 15px 0px 15px 15px;
}
