*
{
  padding: 0;
  margin: 0;
}

html,body
{
    height: 300%;
    width: 100%;
    font-size: 0px;
}

.nav
{
  background-color: #000000;
  height: 100%;
  width: 5%;
  display: inline-block;
}

.nav ul
{
  position: fixed;
  padding-top: 150px;
  margin-left: 25px;
  list-style: none;
}

.nav ul li
{
  line-height: 75px;
}

.content
{
  height: 100%;
  width: 95%;
  display: inline-block;
  vertical-align: top;
}

.home
{
  height: 12%;
  background-image: url("assets/bg.jpg");
  background-size:cover;
}

.home h1
{
  color:black;
  font-size: 20px;
}

.about
{
  height: 15%;
}

.about h1
{
  color:black;
  font-size: 20px;
}

.skills
{
  height: 12%;
}

.skills h1
{
  color:black;
  font-size: 20px;
}

.projects
{
  height: 20%;
}

.projects h1
{
  color:black;
  font-size: 20px;
}

.contact
{
  height: 8%;
}

.contact h1
{
  color:black;
  font-size: 20px;
}
